<!DOCTYPE html>
<html lang="cat">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="/img/logobcn.ico">
    <title>BCN Trees | <?php echo _("Notícies"); ?></title>
  </head>

  <body>
        <!-- Navbar -->
        <div>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                <img src="/img/bcnlogo.png" alt="" width="" height="24" class="d-inline-block align-text-top">
                BCN Trees
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Inici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/barcelona">Barcelona</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/news">Notícies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="/trees" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Àrbres
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item disabled" href="#">Àrbres</a></li>
                                <li><a class="dropdown-item" href="#">Fulla caduca</a></li>
                                <li><a class="dropdown-item" href="#">Fulla perenne</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Costa</a></li>
                                <li><a class="dropdown-item" href="#">Interior</a></li>
                                <li><a class="dropdown-item" href="#">Muntanya</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/trees">Tots</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- Imatge superior -->
    <div class="image-container">
      <img src="../img/bgnews.png" class="img-fluid w-100" alt="background news" style="filter: grayscale(100%);">
    </div">

    <!-- Titles -->
    <div class="container mt-5 mb-5">
      <h1 class="text-black fw-bold">This is a sample header for the news</h1>
      <h2 class="text-muted fs-5">This is a sample secondary header for the news</h2>
    </div">

    <br>

    <!-- Content -->
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue ante, suscipit nec felis blandit, gravida tempor felis. Fusce sodales lorem non tincidunt lobortis. In sollicitudin tincidunt ex at aliquet. Ut malesuada, ipsum ac lobortis feugiat, orci sapien sagittis est, eu tristique augue nisi id sapien. Pellentesque mattis pretium nunc, id tincidunt justo condimentum mollis. In rutrum rhoncus quam, ac lacinia sem laoreet sit amet. Nullam ultricies nisl risus, et efficitur eros rutrum in. Sed pellentesque feugiat mauris vitae porta. Suspendisse non aliquet risus. Etiam fermentum lacus lacus, euismod interdum sem iaculis ut.
        </p>

        <br>

        <h4 class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h4>

        <br>

        <p>
            Aliquam sit amet maximus leo. Aenean iaculis mauris eget purus varius dapibus eget nec nunc. Vestibulum quis faucibus ante. Ut justo nulla, maximus vel faucibus et, porttitor volutpat orci. Cras nisi nunc, vulputate luctus luctus id, suscipit et metus. Fusce auctor auctor ultrices. Nunc finibus sodales felis, at vestibulum sem sagittis eget. Phasellus a metus sit amet est convallis gravida ac et sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec blandit ex ut nulla pellentesque venenatis. Praesent congue lobortis elementum. Nam enim nisl, auctor quis efficitur eget, finibus eget metus.
        </p>
        <p>
            Fusce sed fermentum leo, in finibus tellus. Integer mattis neque in libero imperdiet, id ultricies magna molestie. Pellentesque volutpat ipsum urna, eget convallis urna fermentum eget. In scelerisque tempor est, nec fringilla lectus blandit sed. Integer orci ante, luctus sollicitudin quam egestas, venenatis dapibus odio. Quisque diam elit, vulputate et finibus id, finibus ac urna. Ut pellentesque diam augue, ut interdum urna laoreet vitae. Morbi mauris nunc, interdum vehicula ante a, euismod pellentesque justo.
        </p>
        <p>
            Donec sed lectus in nunc blandit feugiat at vitae elit. Fusce gravida libero volutpat, porta metus ut, sodales erat. Pellentesque fringilla egestas sem, vel porta ante. Praesent ultricies erat ante, et ornare tellus egestas et. Morbi placerat urna lectus, nec interdum quam egestas sit amet. Aenean mollis, leo sit amet aliquet suscipit, neque odio euismod eros, non viverra eros dolor sed dolor. Donec finibus convallis leo sed hendrerit. In eget ultricies felis. Nulla felis justo, scelerisque vitae nisi in, dictum posuere leo. In aliquet odio at orci lobortis tristique.
        <p>

        <br>

        <h4 class="text-muted">
            Phasellus suscipit euismod facilisis
        </h4>

        <br>

        </p>
            Mauris vel gravida lorem. Proin vulputate dapibus scelerisque. Vivamus nec metus lobortis, rutrum purus nec, congue justo. Sed sit amet diam eu massa hendrerit vehicula. Nulla finibus quam ac porta consequat. Praesent sit amet porttitor orci. Phasellus lobortis, lectus eu dapibus vulputate, nisi risus porttitor turpis, quis interdum felis nisl a tellus. Sed scelerisque pellentesque ligula, quis mollis ante fermentum non. Suspendisse sed fermentum metus. Vivamus vitae scelerisque velit, at facilisis mauris. In hac habitasse platea dictumst.
        </p>
    </div>

    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>

    <footer class="bg-light py-4 mt-5">
        <div class="container">
            <!-- Secció superior: Patrocinis i Xarxes Socials -->
            <div class="row align-items-center">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <a href="https://web.gencat.cat/ca/inici" class="mx-3">
                        <img src="/img/logogencat.png" alt="gencat" class="sponsor-logo">
                    </a>
                    <a href="https://www.diba.cat/es/" class="mx-3">
                        <img src="/img/logodb.png" alt="diputaciobarcelona" class="sponsor-logo sponsor-logo2">
                    </a>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <a href="https://facebook.com" class="mx-2 text-dark"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com" class="mx-2 text-dark"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://instagram.com" class="mx-2 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>

            <br>

            <!-- Sección inferior: Derechos reservados -->
            <div class="row mt-3">
                <div class="col text-center">
                    <p class="mb-0">&copy; 2025 BCN Trees. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</html>

